body{
    background-color: lightblue;
}

#main{
    margin: 0 auto;
    border: 2px solid black;
    width: 400px;
    height: 500px;
    text-align: center;
    overflow: hidden;
    background-color: #E3F08E;
}

#screen{
    width: 98%;
    height: 80px;
    font-size: 40px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFF9DC;

}


.numPadBtn{
    width: 80px;
    height: 70px;
    font-size: 25px;
    background-color: #FDDC22;
}

.extBtn{
    
    width: 80px;
    height: 70px;
    font-size: 25px;
    background-color: #FDDC22;
}

.opPadBtn{
    width: 80px;
    height: 70px;
    font-size: 25px;
    background-color: #FDDC22;


}

#mode{
    padding: 5px;
    background-color: black;
    color: white;
    position: relative;
    left: 150px;
    top: 200px;
    
}