body{
    background-color: lightblue;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 5%;
}

#btnDiv{
    margin-bottom: 0;
    margin-top: 6%;
    width: 200px;
    height: 200px;
}

#mode{
    padding: 5px;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    
}

#main{
    margin: 0 6% 0 6%;
    border: 2px solid black;
    width: 400px;
    height: 500px;
    text-align: center;
    align-items: center;
    overflow: hidden;
    background-color: #E3F08E;

}

#screen{
    width: 98%;
    height: 80px;
    font-size: 40px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFF9DC;

}


#numPad{
    padding: 0;
    width: 75%;
    height: 70%;
}

.numPadBtn{
    width: 27%;
    height: 55px;
    font-size: 25px;
    background-color: #FDDC22;
    margin-right: 0;
}

.extBtn{
    
    width: 20%;
    height: 55px;
    font-size: 25px;
    background-color: #FDDC22;
}

.opPadBtn{
    
    margin-left: 0;
    width: 55px;
    height: 55px;
    font-size: 25px;
    background-color: #FDDC22;


}
